<nav mat-tab-nav-bar class="mb-4">
  <a
    mat-tab-link
    [routerLink]="['/home']"
    routerLinkActive
    #homeRla="routerLinkActive"
    [active]="homeRla.isActive"
    >Home</a
  >
  <a
    mat-tab-link
    [routerLink]="['/people']"
    routerLinkActive
    #peopleRla="routerLinkActive"
    [active]="peopleRla.isActive"
    >People</a
  >
  <a
    mat-tab-link
    [routerLink]="['/planets']"
    routerLinkActive
    #planetsRla="routerLinkActive"
    [active]="planetsRla.isActive"
    >Planets</a
  >
  <a
    mat-tab-link
    [routerLink]="['/starships']"
    routerLinkActive
    #starshipsRla="routerLinkActive"
    [active]="starshipsRla.isActive"
    >Starships</a
  >
</nav>
