<nav mat-tab-nav-bar>
    <a mat-tab-link 
       [routerLink]="['/home']" 
       routerLinkActive #rla="routerLinkActive" 
       [active]="rla.isActive">Home</a>
    <a mat-tab-link 
       [routerLink]="['/people']" 
       routerLinkActive #rla="routerLinkActive" 
       [active]="rla.isActive">People</a>
    <a mat-tab-link 
       [routerLink]="['/planets']" 
       routerLinkActive #rla="routerLinkActive" 
       [active]="rla.isActive">Planets</a>
    <a mat-tab-link 
       [routerLink]="['/starships']" 
       routerLinkActive #rla="routerLinkActive" 
       [active]="rla.isActive">Starships</a>
  </nav>
  <router-outlet></router-outlet>
  