<div *ngIf="additionalData" class="fixed inset-0 flex items-center justify-center">
  <div class="bg-white p-4 rounded shadow">
    <h3 class="text-xl font-bold">{{ additionalData.name }}</h3>

    <ng-container *ngIf="data.fetchCategory === 'people'">
      <p class="mt-2">Birth Year: {{ additionalData.birth_year }}</p>
      <p class="mt-2">Gender: {{ additionalData.gender }}</p>
    </ng-container>

    <ng-container *ngIf="data.fetchCategory === 'planets'">
      <p class="mt-2">Climate: {{ additionalData.climate }}</p>
      <p class="mt-2">Population: {{ additionalData.population }}</p>
    </ng-container>

    <ng-container *ngIf="data.fetchCategory === 'starships'">
      <p class="mt-2">Model: {{ additionalData.model }}</p>
      <p class="mt-2">Manufacturer: {{ additionalData.manufacturer }}</p>
    </ng-container>

  </div>
</div>
