<app-search-form-bar
  (search)="handleSearchResults($event)"
  (categoryChange)="handleCategoryChange($event)"
></app-search-form-bar>

<div *ngIf="searchResults.length > 0" class="mt-8">
  <h2 class="text-xl font-bold mb-4">Search Results</h2>
  <ul class="space-y-4">
    <li *ngFor="let result of searchResults" class="p-4 border border-gray-300 bg-gray-100">
      <p class="font-semibold">Name: {{ result.name }}</p>



      <p *ngIf="searchCategory === 'people'">Birth Year: {{ result.birth_year }}</p>
      <p *ngIf="searchCategory === 'people'">Gender: {{ result.gender }}</p>
      <p *ngIf="searchCategory === 'people'">Height: {{ result.height }}</p>
      <p *ngIf="searchCategory === 'people'">Mass: {{ result.mass }}</p>
      <p *ngIf="searchCategory === 'people'">Hair Color: {{ result.hair_color }}</p>
      <p *ngIf="searchCategory === 'people'">Skin Color: {{ result.skin_color }}</p>



      <p *ngIf="searchCategory === 'planets'">Climate: {{ result.climate }}</p>
      <p *ngIf="searchCategory === 'planets'">Population: {{ result.population }}</p>
      <p *ngIf="searchCategory === 'planets'">Diameter: {{ result.diameter }}</p>
      <p *ngIf="searchCategory === 'planets'">Gravity: {{ result.gravity }}</p>
      <p *ngIf="searchCategory === 'planets'">Surface Water: {{ result.surface_water }}</p>
      <p *ngIf="searchCategory === 'planets'">Terrain: {{ result.terrain }}</p>




      <p *ngIf="searchCategory === 'starships'">Model: {{ result.model }}</p>
      <p *ngIf="searchCategory === 'starships'">Starship Class: {{ result.starship_class }}</p>
      <p *ngIf="searchCategory === 'starships'">Manufacturer: {{ result.manufacturer }}</p>
      <p *ngIf="searchCategory === 'starships'">Cost in Credits: {{ result.cost_in_credits }}</p>
      <p *ngIf="searchCategory === 'starships'">Length: {{ result.length }}</p>
      <p *ngIf="searchCategory === 'starships'">Hyperdrive Rating: {{ result.hyperdrive_rating }}</p>
    </li>
  </ul>
</div>
